@import "./styles/";

.App {
  background: #fff4ee;
  padding: 64px 99px 64px 259px;

  @include ipad {
    padding: 32px 70px 32px 200px;
  }

  @include phone {
    padding: 32px 21px 32px 120px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #f2cbbf;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4c4c4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8964d7;
}
